body {
    background-color: lightgrey
}

h1 {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 20em;
    font-weight: 700;
    line-height: 1.4;
    margin: 10;
    width: 500px;
    float: left;
    color: rgb(105,105,105);
    text-shadow: 1px 1px 1px rgb(255,69,0),
        1px 2px 1px rgb(205,92,92),
        1px 3px 1px rgb(205,92,92),
        1px 4px 1px rgb(205,92,92),
        1px 5px 1px rgb(205,92,92),
        1px 6px 1px rgb(205,92,92),
        1px 7px 1px rgb(205,92,92),
        1px 8px 1px rgb(205,92,92),
        1px 9px 1px rgb(205,92,92),
        1px 10px 1px rgb(205,92,92),
    1px 25px 35px rgb(250,128,114),
    1px 25px 35px rgb(220,20,60),
    1px 25px 35px rgb(255,160,122),
    1px 30px 60px rgb(139,0,0);
}

p {
    color: rgb(220,20,60);
    font-size: 12em;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.1;
}

a {
  color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; 
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.col-md-6 {
    margin-top: 20px;
}

.h-100 {
    background-size: cover;
}

.footer {
    padding: 20px 0;
    background-color: var(--darkgrey);
}


.footer .social {
    padding-bottom: 25px;
}

.footer .social i {
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 25px;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-github-square {
    color:  darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}

#rcorners {
  border-radius: 15px;
  background: picofme.png);
  background-position: center;
  padding: 20px;
  width: 200px;
  height: 150px;
}
